<p>{{firstname}}</p>

<p>{{age}}</p>

<p> {{person.firstname}} </p>

<p> {{person.lastname}} </p>

<p>{{100 + 100}}</p>

<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Dados Pessoa</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>








